.home {
  height: 100vh; /* full page height */
  background-image: url('/public/images/homepage-first-section.png');
  background-size: cover;       /* makes it cover the whole section */
  background-repeat: no-repeat; /* prevents tiling */
}