.imgParent {
  position: relative;
  aspect-ratio: 16 / 9; 
}

.imgWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.imgTop,
.imgBottom {
  flex: 1;
  overflow: hidden;
}

.imgTop {
  border-top-right-radius: 40px;
}

.imgBottom {
  border-bottom-right-radius: 40px;
}

.shwAllPhtsBtn {
  position: absolute;
  bottom: 16px;
  left: 16px;
  z-index: 10;
}


.imgT,
.imgB {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.mainImg {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}


.rentCol{
  border: 2px solid black;
  border-radius: 40px;
}

.rentCol
button:active 
button:focus{
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.rentCol .col{
  /* border: 2px solid red; */
  padding: 1rem;  
}

.ammSec{
  border: solid 2px #1e1e1e;
  border-radius: 40px;
  padding: 20px;
}