.imgParent {
  position: relative;
  box-shadow: 4px;
}
.imgWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.imgTop {
  height: 49%;
  width: 100%;
  top: 0;
  position: absolute;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
}
.imgT {
  height: 100%;
  width: 100%;
  border-top-right-radius: 40px;
  object-fit: cover;
}

.imgBottom {
  height: 49%;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 10px;
}
.imgB {
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 40px;
  object-fit: cover;
}

.mainImg{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.rentCol{
  border: 2px solid black;
  border-radius: 40px;
}

.rentCol
button:active 
button:focus{
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.rentCol .col{
  /* border: 2px solid red; */
  padding: 1rem;  
}

.ammSec{
  border: solid 2px #1e1e1e;
  border-radius: 40px;
  padding: 20px;
}

