/* .info img {
  height: 20px;
  width: auto;
}

.info span {
  font-size: 12px;
  font-weight: 300;
  color: #7a7a7a;
}

.social-icons img {
  max-width: 5%;
}

.navigation {
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-link:hover {
  color: #f35525 !important; 
   color: white;
  text-shadow: 2px 2px 4px black, 0 0 50px white, 0 0 50px white;
} */

/* 
.nav-link.active {
  font-weight: 900;
  color: #f35525 !important;
  font-size: x-large;
  text-decoration: underline;
} */

/* .navTtl{
  background-color: #f35525;
} */

.trvlSpan{
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
}


#login{
    font-size: 1.2rem;
    font-weight: 500;
}

#signup{
    font-size:1.2rem;
    font-weight: 500;
}

.btn-outline-primary.active{
  color: #1e1e1e;
  background-color: white;
  border-color: #1e1e1e;
}

.btn-outline-primary{
  color: #1e1e1e;
  background-color: white;
  border-color: #1e1e1e;
}

.btn-primary.active{
    background-color: #f35525;
    border-color: #f35525;
}
.btn-primary{
    background-color: #f35525;
    border-color: #f35525;
}

.btn-primary:hover{
    border-color: white;
}

.btn-outline-primary:hover {
  background-color: #1e1e1e;
  color: white;
  border-color: #1e1e1e;
}

/* .page-heading img {
  width: 100%;
  background-position: center bottom;
  background-size: cover;
  display: block;
} */

.navRent{
  background-color: #f8f8f8;
  height: 10vh;
}

.navSrchRent{
  background-color: #f8f8f8;
  height: 22vh;
}
