.sortBtns button:hover {
  width: 130%;

}

.sortBtns button img {
  justify-content: start;
}

.sortBtns button p {
  display: none;
}
.sortBtns button:hover p {
  display: inline !important;
  text-align: center;
}

dialog {
  z-index: 1055;
}

.ant-picker-dropdown {
  z-index: 1060 !important;
}

dialog {
  overflow: visible;
}
