.dateRange {
  border-left: 0px;
  border-right: 0px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.dateRange:hover {
    background-color: #f8f8f810;
}

select:hover {
    background-color: #f8f8f810;
}

.rentLocs{
    background-color: #f8f8f810;
}

#whereTtl{
    position: relative;
    bottom: 90%;
    left: 10%;
    font-size: 1rem;
    font-weight: 600;
}


input[type="text"]{
    font-size: 1rem;
    box-sizing: border-box;
    border-right: 0px;
}

input[type="text"]:hover{
    background-color: #f8f8f810;
}

/* 
      <header className="sub-header p-4 navRent">
        <nav className="navbar navbar-expand" >
          <div className="container-fluid d-flex flex-column">
            <div className="row align-items-center w-100 m-0 d-flex justify-content-between border">
                <div className="col border h-100">
                <img
                  src="/images/logo-2.png"
                  alt="Logo"
                  id="logo"
                  className="img-fluid"
                />
                </div>
              <div className="col-6 border d-flex align-items-center justify-content-between">
                <div className="">
                  <div
                    className="collapse navbar-collapse navTtl p-2 rounded-pill d-flex justify-content-around"
                    id="navbarText"
                  >
                    {<NavLink
                    to="/"
                    className={({ isActive }) =>
                      isActive
                        ? "nav-link active navigation p-2 rounded-pill bg-light shadow"
                        : "nav-link navigation text-light"
                    }
                  >
                    Home
                  </NavLink>}
                    <NavLink
                      to="/rent-locs"
                      // className={({ isActive }) =>
                      //   isActive
                      //     ? "nav-link active navigation p-2 rounded-pill bg-light shadow"
                      //     : "nav-link navigation text-light"
                      // }
                    >
                      
                    </NavLink>
                    {<NavLink
                    to="/contact-us"
                    className={({ isActive }) =>
                      isActive
                        ? "nav-link active navigation  p-2 rounded-pill bg-light shadow"
                        : "nav-link navigation  text-light"
                    }
                  >
                    Contact Us
                  </NavLink>}
                  </div>
                </div>
                <button
                  className="navbar-toggler ms-2"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarText"
                  aria-controls="navbarText"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span className="navbar-toggler-icon"></span>
                </button>
              </div>

              {!isAuthenticated ? (
                <div className="col-3 d-flex justify-content-center btn-group">
                  <button
                    className="btn btn-primary me-1 shadow"
                    onClick={() => {
                      setLoginStt(true);
                      authModal.current.showModal();
                    }}
                    id="login"
                  >
                    Login
                  </button>
                  <button
                    className="btn btn-outline-primary shadow"
                    onClick={() => {
                      setLoginStt(false);
                      authModal.current.showModal();
                    }}
                    id="signup"
                  >
                    Sign Up
                  </button>
                </div>
              ) : (
                <div className="col-3 d-flex justify-content-center btn-group">
                  <div className="container" style={{ width: 80, height: 50 }}>
                    <div className="row h-100">
                      <div className="col h-100 p-0">
                        <div className="dropdown w-100 h-100">
                          <button
                            className="btn rounded-pill dropdown-toggle p-2"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                          >
                            <img
                              src="/icons/user.png"
                              alt=""
                              className="w-50 h-50 position-relative"
                            />
                            <span class="position-absolute top-0 start-10 translate-middle badge rounded-pill bg-danger text-light">
                              99+
                              <span class="visually-hidden">
                                unread messages
                              </span>
                            </span>
                          </button>
                          <ul className="dropdown-menu">
                            <li>
                              <NavLink
                                to="/profile/edit"
                                className="dropdown-item"
                              >
                                Profile
                              </NavLink>
                            </li>
                            <li>
                              <Link
                                to="/profile/whishlist"
                                className="dropdown-item"
                              >
                                Whishlist
                              </Link>
                            </li>
                            <li>
                              <Link
                                to="/profile/my-trips"
                                className="dropdown-item"
                              >
                                My Trips
                              </Link>
                            </li>
                            <li>
                              <Link
                                to="/profile/my-bookings"
                                className="dropdown-item"
                              >
                                My Bookings
                              </Link>
                            </li>
                            <li>
                              <Link
                                to="/profile/my-bookings"
                                className="dropdown-item"
                              >
                                Payments
                              </Link>
                            </li>
                            <li>
                              <button
                                className="btn dropdown-item"
                                onClick={handleLogout}
                              >
                                Logout
                              </button>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              )}
            </div>
            <div className="row w-100">
              <div className="col h-100">
              <SearchBar/>
              </div>
            </div>
          </div>
        </nav>
      </header> */